# Basic .gitattributes for an R repo
# Set default behaviour to automatically normalise line endings
* text=auto


# Source files
# ============
*.Rdata text
*.rdb   binary
*.rds   binary
*.Rd    text
*.Rdx   binary
*.Rmd	text
*.R  	text

# Ignore these files:
.gitattributes export-ignore
.gitignore export-ignore
